 body {
    font-family: sans-serif;
    margin: 40px;
    text-align: center;
  }
  input {
    margin-bottom: 20px;
  }
  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
  }
  th, td {
    border: 1px solid #aaa;
    padding: 8px;
  }
  th {
    background: #f0f0f0;
  }